flows.json
[{"id":"bddf1530.0965f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a8a21d26.83b6d","type":"http in","z":"bddf1530.0965f8","name":"","url":"/nodered-lambda","method":"get","upload":false,"swaggerDoc":"","x":230,"y":160,"wires":[["93f887d2.df6958"]]},{"id":"4990758b.b25f3c","type":"http response","z":"bddf1530.0965f8","name":"","statusCode":"","headers":{},"x":640,"y":140,"wires":[]},{"id":"93f887d2.df6958","type":"function","z":"bddf1530.0965f8","name":"","func":"msg.payload= \"node red rodando no lambda\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["4990758b.b25f3c"]]}]